# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg
*.whl

# Virtual environment
venv/
.venv/
env/
.env/

# Editors and IDEs
.vscode/
.idea/
*.swp
*.bak
*.swo
*.DS_Store

# Logs and temporary files
*.log
*.tmp
temp/

# Database files
*.sqlite3
*.db

# Specific to Django (if applicable)
media/
static/

# Environment variables
.env